<ion-header color="primary">
  <navbar [title]="pageTitle"></navbar>
</ion-header>

<ion-content text-center scroll="false" class="secondarybg">
  <ion-row style="height:25%" class="topPart" margin-top>
  </ion-row>
  <ion-row padding>
    <ion-col class="headerPart" text-uppercase>
      {{'charity_list_title' | translate}}
    </ion-col>
  </ion-row>
  <ion-slides [style.height]="'35%'" *ngIf="charities" class="middlePart" pager (ionSlideDidChange)="slideChanged()">
    <ion-slide (click)="selectCharity()" padding class="slidePart" [style.background-image]="'url(../assets/charity/1.jpg)'"
      *ngFor="let charity of charities; let i=index;">
      <div>
        <p color='primary'>{{charity.title[language]}}</p>
      </div>
      <div>
        <p class="charityDescription">{{charity.description[language]}}</p>
      </div>
      <div class="progress-outer">
        <div class="progress-inner" [style.width]="charity.progress + '%'">
        </div>
        <ion-row>
          <ion-col style="text-align: left;">
            {{charity.progress}}%
          </ion-col>
          <ion-col style="text-align: right;">
            {{charity.total}} {{'currency' | translate}}
          </ion-col>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>
  <span class="category" *ngFor="let category of categories; let i=index;" (click)="selectCategory(category)">
    {{category.title[language]}}
  </span>
</ion-content>