charity-list {
    .swiper-pagination-bullet 
    {
        width: 12px;
        height: 12px;
        opacity: 0.9;
        background-color: color($colors, secondary) !important;
    }
    .swiper-pagination-bullet-active
    {
        background-color: color($colors, primary) !important;
        opacity: 1;
    }
    .topPart {
        height:100%;
        background: url("../assets/jesus.png") no-repeat 35% 10%;
        background-size: contain;
        background-position: 50% 40%;
    }
    .headerPart {
        font-size: 18px;
        padding: 0;
        font-weight: bold;
    }
    .descriptionPart {
        font-size: 16px;
        font-weight: bold;
    }
    .middlePart {
        min-height: 220px;
        font-size: 16px;
        color: white;
        font-weight: bold;
    }
    .slidePart {
        font-size: 18px;
        color: white;
        font-weight: bold;
        background-size: cover;
        background-position: 50% 40%;
    }
    .charityDescription {
        font-size: 12px;
        font-weight: normal;
    }
    .category {
        font-weight: bold;
        // overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
        margin: 0;
        margin-top:1px;
        width: 50%;
        display: inline-block;
        color:white;
        background-color: color($colors, primary);
        padding: 20px;
    }
    .add:before {
        font-weight: bold;
    }
    .question {
        width: 100%;
        text-transform: lowercase;
        font-size:16px;
        margin-top:1px;
        color:color($colors, darktext);
        background-color: color($colors, primary);
        padding: 15px;
    }
    .question:first-letter {
        text-transform: uppercase;
    }
  
    .progress-outer {
        width: 96%;
        height:10px;
        margin: 10px 2%;
        margin-bottom: 70px;
        text-align: center;
        background-color: color($colors, secondary);
        color: color($colors, primary);
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
}