<ion-header color="primary">
  <navbar [title]="pageTitle"></navbar>
</ion-header>

<ion-content text-center scroll="false" text-uppercase class="secondarybg">
  <div *ngIf="!sin" style="height:35%;">
    <ion-row class="topPart" margin-top>
    </ion-row>
    <ion-row>
      <ion-col class="descriptionPart">
        {{'sins_list_title' | translate}}
      </ion-col>
    </ion-row>
  </div>
  <ion-slides [style.height]="getSlidesHeight()" *ngIf="sins" class="middlePart" pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let sin of sins; let i=index;" [class.bg0]="getClass(sin, 0)" [class.bg1]="getClass(sin, 1)" [class.bg2]="getClass(sin, 2)"
      [class.bg3]="getClass(sin, 3)" [class.bg4]="getClass(sin, 4) " [class.bg5]="getClass(sin, 5) ">
      <img style="height:80px;" src="assets/sins/{{i+1}}.png" />
      <div>
        <p [class.hide]="getHideClass()">{{sin.title | translate}}</p>
      </div>
    </ion-slide>
  </ion-slides>
  <br/>
  <ion-row *ngIf="sin" class="descriptionPart">
    <ion-col>
      {{questions[questionIndex].title | translate}}
    </ion-col>
  </ion-row>
  <br/>
  <div *ngIf="sin">
    <div *ngFor="let answer of objectToArrayStoreKeys(questions[questionIndex].answers); let i=index;" class="question" (click)="nextQuestion(answer)">
      {{ answer.title | translate }}
    </div>
  </div>

  <!--<ion-row class='bottomPart'>
    <button ion-fab style="margin:10px auto">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-row>-->
</ion-content>

<ion-footer *ngIf="!sin">
  <ion-toolbar>
    <button ion-fab style="margin:10px auto" (click)="selectSin()">
      <ion-icon class="add" name="add"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>