sins-list {
    .swiper-pagination-bullet 
    {
        width: 12px;
        height: 12px;
        opacity: 0.9;
        background-color: color($colors, secondary) !important;
    }
    .swiper-pagination-bullet-active
    {
        opacity: 1;
        background-color: color($colors, primary) !important;
    }
    .topPart {
        height:55%;
        background: url("../assets/jesus.png") no-repeat 35% 10%;
        background-size: contain;
        background-position: 50% 40%;
    }
    .descriptionPart {
        font-size: 18px;
        font-weight: bold;
    }
    .img {
        height:120px;position:relative;top:-10px;
    }
    .hide {
        display: none;
    }
    .middlePart {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }
    .add:before {
        font-weight: bold;
    }
    .question {
        width: 100%;
        text-transform: lowercase;
        font-size:16px;
        margin-top:1px;
        color:color($colors, darktext);
        background-color: color($colors, primary);
        padding: 15px;
    }
    .question:first-letter {
        text-transform: uppercase;
    }
    // .bottomPart {
    //     height: 50px;
    // }
    .bg0 {
        // background: url("../assets/sins/1.png") no-repeat 35% 10%;
        background-color:#FF83C5;
        // background-size: contain;
        // background-position: 50% 40%;
    }
    .bg1 {
        // background: url("../assets/sins/2.png") no-repeat 35% 10%;
        background-color:#BD4562;
        // background-size: contain;
        // background-position: 50% 40%;
    }
    .bg2 {
        // background: url("../assets/sins/3.png") no-repeat 35% 10%;
        background-color:#73ADD5;
        // background-size: contain;
        // background-position: 50% 40%;
    }
    .bg3 {
        // background: url("../assets/sins/4.png") no-repeat 35% 10%;
        background-color:#FFC03D;
        // background-size: contain;
        // background-position: 50% 40%;
    }
    .bg4 {
        // background: url("../assets/sins/5.png") no-repeat 35% 10%;
        background-color:#51546B;
        // background-size: contain;
        // background-position: 50% 40%;
    }
    .bg5 {
        // background: url("../assets/sins/6.png") no-repeat 35% 10%;
        background-color:#6FC259;
        // background-size: contain;
        // background-position: 50% 40%;
    }
    .bg6 {
        // background: url("../assets/sins/6.png") no-repeat 35% 10%;
        background-color:#45bdb3;
        // background-size: contain;
        // background-position: 50% 40%;
    }
    .bg7 {
        // background: url("../assets/sins/6.png") no-repeat 35% 10%;
        background-color:#456cbd;
        // background-size: contain;
        // background-position: 50% 40%;
    }
}