<ion-item *ngIf="control.config.lang && !hide">
    <ion-label stacked>{{control.config.lang.substring(0,2)}} {{control.config.label | translate }}</ion-label>
    <ion-input *ngIf="!control.config.input" type="text" [(ngModel)]="control.dataObject[control.dataField][control.config.lang]"
        [formControl]="control.abstractControl"></ion-input>
    <ion-textarea *ngIf="control.config.input" rows=4 type="text" [(ngModel)]="control.dataObject[control.dataField][control.config.lang]"
        [formControl]="control.abstractControl"></ion-textarea>
</ion-item>