<ion-content text-center scroll="false" class="secondarybg" padding>
  <div style="height:120px;">
    <ion-row class="topPart" margin-top>
    </ion-row>
  </div>
  <br/>
  <ion-row>
    <ion-col class="bold headerPart" text-uppercase>
      {{'home_title' | translate}}
    </ion-col>
  </ion-row>
  <br/>
  <ion-row *ngIf="!paymentAccepted">
    <ion-col>
      {{ message }}
    </ion-col>
  </ion-row>
  <br *ngIf="!paymentAccepted" />
  <!--<ion-row *ngIf="paymentError && paymentError.length > 0">
    <ion-col>
      <ion-icon class="error" name="alert"></ion-icon> {{paymentError}}
    </ion-col>
  </ion-row>-->
  <!--<form action="/" method="post" id="cardForm" *ngIf="!paymentAccepted">
    <label class="hosted-fields--label" for="card-number">{{ 'home_card_number' | translate }}</label>
    <div id="card-number" class="hosted-field"></div>

    <label class="hosted-fields--label" for="expiration-date">{{ 'home_expiration_date' | translate }}</label>
    <div id="expiration-date" class="hosted-field"></div>

    <label class="hosted-fields--label" for="cvv">{{ 'home_cvv' | translate }}</label>
    <div id="cvv" class="hosted-field"></div>

    <div class="button-container">
      <button class="white" color="valid" text-uppercase ion-button fab-center round style="margin:0px 0 10px 0;" (click)="submit()">
           {{ 'home_submit_button' | translate }}
        </button>
    </div>
  </form>-->
  <ion-row *ngIf="paymentAccepted">
    <ion-col>
      <!--<ion-icon class="green" name="checkmark">
        </ion-icon> -->
      {{"home_payment_accepted" | translate}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="paymentAccepted">
    <ion-col>
      <button class="white" color="primary" text-uppercase ion-button fab-center round style="margin:20px 0;" (click)="closeWindow()">
           {{ 'home_button' | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-content>