// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ff5e3b,
  secondary:  #fff5dd,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  valid:    #64d18a,
orange:   #ffc03d,
  darktext: #6d1a03
);

@import "ionic.theme.default";
@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// $text-input-md-background-color: color($colors, orange);
// $text-input-ios-background-color:color($colors, orange);
// $text-input-wp-background-color: color($colors, orange);
// $text-input-placeholder-color:  color($colors, orange);

$text-color: #503730;

$font-family-md-base: "Open Sans";
$font-family-ios-base: "Open Sans";
$font-family-wp-base: "Open Sans";

// Custom
// --------------------------------------------------
.text-align-center {
  text-align: center;
}

.primarybg {
  background-color: color($colors, primary) !important;
}
.secondarybg {
  background-color: color($colors, secondary) !important;
}
