<ion-item [class.error]="!control.abstractControl.valid && control.abstractControl.touched">
    <ion-label style="text-align: right;" floating>{{ control.config.label | translate }}</ion-label>
<ion-input type="text" [(ngModel)]='control.dataObject[control.dataField]' [formControl]="control.abstractControl"></ion-input>
</ion-item>
<div *ngIf="control.abstractControl.hasError('required') && control.abstractControl.touched" class="error-box">* {{ control.config.label | translate }} {{ 'form-label_field_required' | translate}}</div>
<!--<div *ngIf="control.abstractControl.hasError('minlength') && control.abstractControl.touched" class="error-box">* Minimum {{ control.config.label | translate }} length is 8!</div>-->