<ion-menu side="right" [content]="content" persistent="true">

  <ion-header class="menuToolbar">
    <ion-toolbar>
      <ion-buttons end>
        <userinfo [white]="'true'"></userinfo>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menuToolbar">
    <div *ngIf="!user" padding>
      <!--{{userStatus.type}}-->
      <newforms *ngIf="userStatus.type == 'LOGIN'" [form]="modelLogin | async"></newforms>
      <newforms *ngIf="userStatus.type == 'REGISTER'" [form]="modelRegister | async"></newforms>
      <br/>
      <button class="lower white" color='orange' ion-button round small (click)="login()">
      {{'signin_login' | translate }}
    </button>
      <button class="lower white" color='orange' ion-button round small (click)="register()">
      {{'signin_register' | translate }}
    </button>
      <button ion-button clear end item-right style="float:right;"> {{'signin_login_forgot ' | translate }}
</button>
    </div>

    <div *ngIf="user" padding>
      <ion-row class="text-align-center">
        <ion-col class="white">
          {{ 'signin_your_statistics' | translate }}
        </ion-col>
      </ion-row>
      <ion-row class="text-align-center">
        <ion-col>
          {{ 'signin_number_of_sins' | translate }}
        </ion-col>
      </ion-row>
      <ion-row class="text-align-center">
        <ion-col class="white">
          {{ sinsCount }}
        </ion-col>
      </ion-row>
      <br/>
      <ion-row class="text-align-center">
        <ion-col>
          {{ 'signin_contributions' | translate }}
        </ion-col>
      </ion-row>
      <ion-row class="text-align-center">
        <ion-col class="white">
          {{ sinsTotal }} {{ 'currency' | translate }}
        </ion-col>
      </ion-row>
      <br/>
      <ion-row *ngIf="popularSin" class="text-align-center">
        <ion-col>
          {{ 'signin_favourite' | translate }}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="popularSin" class="text-align-center">
        <ion-col class="white">
          {{ popularSin.title | translate }}
        </ion-col>
      </ion-row>
      <!--<br/>
      <ion-row class="text-align-center">
        <ion-col>
          TVÉ POKÁNÍ BUDE ODESLÁNO DO VEŘEJNÉ STATISTIKY
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin-left: 43%;">
          <ion-toggle [(ngModel)]="user.public" (ionChange)="changePublic()"></ion-toggle>
        </ion-col>
      </ion-row>-->
    </div>

    <ion-footer>
      <ion-toolbar *ngIf="user">
        <ion-buttons end>
          <button text-lowercase ion-button class="white" clear (click)="signout()"> {{'signin_signout' | translate }}
  </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>