sin-pricing {
    font-size: 12px;

    .swiper-pagination-bullet 
    {
        width: 12px;
        height: 12px;
        background-color: #fff !important;
    }
    .swiper-pagination-bullet-active
    {
        background-color: color($colors, primary) !important;
    }
    .topPart {
        height:100%;
        background: url("../assets/jesussmall.png") no-repeat 35% 10%;
        background-size: contain;
        background-position: 50% 40%;
    }
    .descriptionPart {
        font-size: 16px;
       
    }
    .headerPart {
        font-size: 18px;
        font-weight: bold;
    }
    .middlePart {
        font-size: 16px;
        color: white;
        font-weight: bold;
    }
    .totalButtons button {
        font-size: 18px;
        display:inline-block;
    }

    .totalButtons {
        font-size: 18px;
        margin:0;
    }
}