<ion-header color="primary">
  <navbar [title]="pageTitle"></navbar>
</ion-header>

<ion-content text-center scroll="false" class="secondarybg">
  <div style="height:120px;">
    <ion-row class="topPart" margin-top>
    </ion-row>
  </div>
  <ion-row>
    <ion-col class="bold headerPart" text-uppercase>
      {{'sin_pricing_title' | translate}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="charity">
    <ion-col class="bold headerPart primary">
      {{charity.title[language]}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="charity">
    <ion-col>
      {{charity.description[language]}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      {{ 'sin_pricing_suggestion' | translate }}
    </ion-col>
  </ion-row>
  <br/>
</ion-content>

<ion-footer text-center>
  <ion-toolbar>
    <ion-row>
      <ion-col class="totalButtons">
        <input type="number" #totalInput class="total" [(ngModel)]="total" />
        <span class="bold" (click)="openTotal()">{{ total }} {{'currency' | translate}}</span>
        <button mini ion-fab (click)="remove()">
          <ion-icon class="add" name="remove"></ion-icon>
        </button>
        <button mini ion-fab (click)="add()">
          <ion-icon class="add" name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="white" color="primary" text-uppercase ion-button fab-center round large style="margin:10px 0; width:100%;"
          (click)="confirm()">
      {{ 'sin_pricing_button_1' | translate }}<br/>
      {{ 'sin_pricing_button_2' | translate }}
    </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>